@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');
/* * {
    border: 1px solid red;
    font-family: Roboto;
} */
body{
    font-family: Roboto;
    margin: 0;
    /* background-color:#eee; */
    padding: 0;
}

.header{
    display: flex;
    padding-left: 125px;
    padding-right: 125px;
    justify-content: space-between;
    border: 1px solid lightslategray;
    align-items: center;
}
.card-body{
    padding-left: 125px;
    padding-right: 125px;
}


.res-card{
    width: 300px;
    height: 100%;
    padding: 1px;
    border: "1px solid lightgray";
    margin: 5px;
   
  

}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-logo{
    padding: 5px;
    width: 96%;
    border-radius: 16px;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}
.ratings {
    display:flex;
    justify-content:space-between;
    border-radius:5px;
    margin-top:1rem;
}